.el-container.is-vertical {
  min-height: 100vh;
}

.el-aside {
  width: auto!important;
}

.el-button--primary {
  > span {
    color: #fff;
  }
}

.el-main {
  background: #fafafa;
}

.el-button--small {
  padding: 8px 20px;
}

.el-select .el-input__inner {
  width: 92%;
}
.el-input__suffix {
  right: 20px;
}
