* { font-family: "Microsoft YaHei, Google Sans',arial,sans-serif" }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
  font-weight: 300;
}
h1, h2, h3, h4, h5, h6 { font-weight:400 }
img { border:none; }
ol,ul,li { list-style:none; }
a { text-decoration:none; color: #009688 }
