<div>
  <el-card>
    <el-form :inline="true" :model="formData">
      <el-row :gutter="8">
        <el-col :span="6">
          <el-form-item label="角色名称">
            <el-input v-model="formData.role" size="small"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="访问系统">
            <el-select v-model="formData.system" size="small">
              <el-option label="有效" value="有效"></el-option>
              <el-option label="无效" value="无效"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <div class="space_between_wrap">
        <div>
          <el-button type="warning" @click="onCreate" size="small">新增</el-button>
        </div>
        <div>
          <el-button type="primary" @click="onSearch" size="small">查询</el-button>
        </div>
      </div>
    </el-form>
  </el-card> <br>

  <el-card>
    <el-table :data="tableData" style="width: 100%" stripe>
      <el-table-column prop="name" label="角色名称" > </el-table-column>
      <el-table-column prop="describe" label="角色描述" > </el-table-column>
      <el-table-column prop="status" label="状态" > </el-table-column>
      <el-table-column prop="update_time" label="更新时间" > </el-table-column>
      <el-table-column prop="oprate" label="操作" >
        <template slot-scope="scope">
          <el-button type="text" @click="onEdit(3)">修改</el-button>
          <el-button type="text" @click="onDelete(3)">删除</el-button>
          <el-button type="text" @click="onAuthorize(3)">授权</el-button>
        </template>
      </el-table-column>
    </el-table>
  </el-card>

  <el-dialog title="新增角色" :visible.sync="dialog.create.visible" width="30%" :close-on-click-modal="false">
    <el-form :inline="true" label-width="100px" :model="dialog.create.formData" :rules="dialog.create.formRules" ref="dialog.create.formData">
      <el-row>
        <el-col :span="24">
          <el-form-item label="角色名称" prop="name">
            <el-input v-model="dialog.create.formData.name" size="small"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="状态" prop="status">
            <el-select v-model="dialog.create.formData.status" size="small">
              <el-option label="启用" value="启用"></el-option>
              <el-option label="停用" value="停用"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="角色编码" prop="code">
            <el-input v-model="dialog.create.formData.code" size="small"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="角色描述">
            <el-input type="textarea" :rows="2" v-model="dialog.create.formData.describe"> </el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <span slot="footer" class="dialog-footer">
      <el-button @click="dialog.create.visible = false" size="small">取 消</el-button>
      <el-button type="primary" :disabled="!createFormValid" @click="dialog.create.visible = false" size="small">确 定</el-button>
    </span>
  </el-dialog>

  <el-dialog title="修改角色" :visible.sync="dialog.edit.visible" width="30%" :close-on-click-modal="false">
    <el-form :inline="true" label-width="100px" :model="dialog.edit.formData" :rules="dialog.edit.formRules" ref="dialog.edit.formData">
      <el-row>
        <el-col :span="24">
          <el-form-item label="角色名称" prop="name">
            <el-input v-model="dialog.edit.formData.name" size="small"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="状态" prop="status">
            <el-select v-model="dialog.edit.formData.status" size="small">
              <el-option label="启用" value="启用"></el-option>
              <el-option label="停用" value="停用"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="角色编码" prop="code">
            <el-input v-model="dialog.edit.formData.code" size="small"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="角色描述">
            <el-input type="textarea" :rows="2" v-model="dialog.edit.formData.describe"> </el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <span slot="footer" class="dialog-footer">
      <el-button @click="dialog.edit.visible = false" size="small">取 消</el-button>
      <el-button type="warning" :disabled="!editFormValid" @click="dialog.edit.visible = false" size="small">确 定</el-button>
    </span>
  </el-dialog>

  <el-dialog title="角色授权管理" :visible.sync="dialog.authorize.visible" width="30%" :close-on-click-modal="false">
    <el-form :inline="true" label-width="100px" :model="dialog.authorize.formData" :rules="dialog.authorize.formRules" ref="dialog.authorize.formData">
      <el-row>
        <el-col :span="24">
          <el-form-item label="角色名称" prop="name">
            <el-input v-model="dialog.authorize.formData.name" size="small"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="访问系统" prop="system">
            <el-select v-model="dialog.authorize.formData.system" size="small">
              <el-option label="启用" value="启用"></el-option>
              <el-option label="停用" value="停用"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="资源链接" prop="src">
            <el-select v-model="dialog.authorize.formData.src" size="small" multiple>
              <el-option v-for="(item, index) in del" :key="index"  :label="item.name" :value="item.value"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <span slot="footer" class="dialog-footer">
      <el-button @click="dialog.authorize.visible = false" size="small">取 消</el-button>
      <el-button type="warning" :disabled="!authorizeFormValid" @click="dialog.authorize.visible = false" size="small">确 定</el-button>
    </span>
  </el-dialog>
</div>
