<div id="app">
  <el-container>
    <el-header v-if="isAuthenticated" height="64px" class="header">
      <div class="left">
        <i :class="[isCollapse ? 'active' : '', 'el-icon-more', 'nav_toggle']"
          @click="isCollapse = !isCollapse"></i>
        <div class="title"> 用户管理系统 </div>
      </div>
      <div class="right">
        <el-button type="text" @click="onLogout()" class="logout">退出</el-button>
      </div>
    </el-header>
    <el-container>
      <el-aside class="aside" v-if="isAuthenticated">
        <el-menu
          :default-active="$route.path"
          class="el-menu-vertical-demo"
          background-color="#fff"
          text-color="#333"
          :router="true"
          active-text-color="#009688"
          :collapse="isCollapse">
            <el-menu-item index="/user">
              <i class="el-icon-tickets"></i>
              <span slot="title">用户管理</span>
            </el-menu-item>
            <el-menu-item index="/role">
              <i class="el-icon-star-off"></i>
              <span slot="title">角色管理</span>
            </el-menu-item>
            <el-menu-item index="/src">
              <i class="el-icon-share"></i>
              <span slot="title">资源管理</span>
            </el-menu-item>
        </el-menu>
      </el-aside>
      <el-main>
        <div class="breadcrumb">
          <router-link
                    v-for="(item, index) in breadcrumb"
                     :key="index"
                     :class="{current: !item.path}"
                     :to="item.path"> {{item.name}}
                     <i class="el-icon-arrow-right" v-if="item.path"></i>
           </router-link>
         </div>
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</div>
